<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="11169DebreczeniGergoPFA.Remind-a-Show" Version="1.0.0.0" Publisher="CN=D91CFA2B-571A-4CA5-B828-541B2B833889" />
  <Properties>
    <DisplayName>Remind-a-Show</DisplayName>
    <PublisherDisplayName>Debreczeni Gergo PFA</PublisherDisplayName>
    <Logo>images\storeLogo-sdk.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Remind-a-Show" Logo="images\logo.jpg" SmallLogo="images\logo.png" Description="Remind-a-Show" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <DefaultTile ShowName="allLogos" WideLogo="images\WideLogo.jpg" />
        <SplashScreen Image="images\splash-sdk.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="musicLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>